.constr\.variable {
  color: wheat !important;
}

.constr\.notation {
  color: #ff5555 !important;
}

.coq-env > div {
  touch-action: none;
  user-select: none;
  display: block !important;
  padding: 10px;
  margin: 5px;
  background-color: #1e1e1e;
  border-radius: 10px;
  border: 1.5px solid #1e1e1e;
}
