.lemma {
  flex: 1;
  border-radius: 1rem;
  background-color: black;
  color: white;
  margin: 1rem;
  padding: 1rem;
}

.lemmaItem {
  background-color: gold;
  color: black;
  border-radius: 0.2rem;
  padding: 0.2rem .4rem;
  margin: 0.5rem;
}